%p#notice= notice

%p
  %b Original url:
  = @link.url
%p
  %b Shorten url:
  = @link.shorten_code
%p
  %b Clicks count:
  = @link.clicks_count
%p
  %b Integer:
  = @link.integer

= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
